<div class="flex w-full  h-screen py-2 px-2 bg-gray-100">
  <div class="w-full md:w-1/3 h-1/3 md:h-full overflow-auto">
    <p-dataview [value]="productsFiltered()" [rows]="5" [paginator]="true">
      <ng-template #header>
        <div class="flex flex-col  md:flex-row md:justify-between">
          <p-inputgroup>
            <p-inputgroup-addon>
                <i class="pi pi-search"></i>
            </p-inputgroup-addon>
            <input pInputText (input)="onSearchNameProduct($event)" class="w-full"  placeholder="Ingresar nombre del producto..."  />
          </p-inputgroup>
        </div>
    </ng-template>

      <ng-template #list let-items>
        <div class="grid grid-cols-12 gap-4 grid-nogutter">
          <div class="col-span-12" *ngFor="let item of items; let first = first" class="col-span-12">
              <div
                  class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
                  [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
              >
                  <div class="md:w-40 relative">
                      <img
                          class="block xl:block rounded-border w-11"
                          [src]="item.image"
                          [alt]="item.name"
                      />

                  </div>
                  <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                      <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                          <div>
                              <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                              <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.title }}</div>
                          </div>

                          <div class="flex md:items-end gap-8">
                            <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">{{item.price | currency }}</span>
                            <div class="flex flex-row-reverse md:flex-row gap-2">
                                <p-button
                                    icon="pi pi-plus"
                                    class="flex-auto md:flex-initial whitespace-nowrap"
                                    [disabled]="!item.active"
                                    (onClick)="addProductToTable(item)"
                                />
                            </div>
                        </div>

                      </div>

                  </div>
              </div>
          </div>
      </div>

      </ng-template>
    </p-dataview>
</div>
<!-- Contenedor derecho -->
 <form [formGroup]="form" (ngSubmit)="onSave()" class="w-full flex flex-col md:w-2/3 h-2/3 md:h-full bg-gray-100">
  <div class="flex w-full h-full overflow-y-scroll py-2 px-2">

    <p-table [value]="productsform.controls" formArrayName="products" class="w-full">
      <ng-template pTemplate="header">
          <tr>
            <th class="font-bold">Código</th>
            <th class="font-bold">Descripción</th>
            <th class="font-bold">Precio</th>
            <th class="font-bold">Cantidad</th>
            <th></th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-i="rowIndex" >
        <tr [formGroupName]="i">
          <td>{{ rowData.value.codigo }}</td>
          <td>{{ rowData.value.name }}</td>
          <td>{{ rowData.value.price | currency  }}</td>
          <td>
            <div class="flex w-full">
              <p-inputnumber  inputId="locale-user" [minFractionDigits]="2" formControlName="quantity" (onBlur)="caculateTotals()" />
            </div>
          </td>
          <td>
            <div class="flex w-full justify-end">
              <p-button icon="pi pi-trash" severity="danger" (onClick)="onDeleteTableRow(i, rowData.value)" />
            </div>
          </td>

        </tr>

      </ng-template>
    </p-table>


 </div>
 <div class="flex gap-3 w-full h-auto justify-end  py-4 px-8">
  <div class="flex items-center gap-2 bg-indigo-500 text-white p-2 rounded-lg shadow-md">
    <p class="font-semibold text-lg">IVA 19%</p>
    <p-inputnumber  inputId="locale-user" [minFractionDigits]="2"  placeholder="0.00" formControlName="iva" class="font-bold" />
  </div>
  <div class="flex items-center gap-2 bg-teal-500 text-white p-2 rounded-lg shadow-md">
    <p class="font-semibold text-lg">SUBTOTAL</p>
    <p-inputnumber  inputId="locale-user" [minFractionDigits]="2"  placeholder="0.00" formControlName="subtotal" class="font-bold"/>
  </div>
  <div class="flex items-center gap-2 bg-rose-500 text-white p-2 rounded-lg shadow-md">
    <p class="font-semibold text-lg">TOTAL</p>
    <p-inputnumber  inputId="locale-user" [minFractionDigits]="2"  placeholder="0.00" formControlName="total" class="font-bold"/>
  </div>
 </div>

 <div class="flex gap-4 w-full h-auto justify-end  py-4 px-8">
   <p-button label="Generar Cotización" severity="info" icon="pi pi-receipt" size="large" [disabled]="productsform.controls.length <= 0"></p-button>
   <p-button type="submit" label="Generar factura" icon="pi pi-receipt" size="large" [disabled]="productsform.controls.length <= 0"></p-button>
 </div>

 </form>






<router-outlet />
